/* Tablet */

@media (max-width: 992px) {
  .container-fluid {
    max-width: 100%;
  }

  .container {
    max-width: 100%;
  }

  .card {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .card .col-8 {
    width: 100%;
    height: calc(2 * (100% / 3));
  }
  .card .col-4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% / 3);
  }

  .flex-list {
    flex-direction: row;
  }

  .flex-list li {
    width: 50%;
  }

  .hero-social .btn {
    padding: 0.4rem 3rem;
  }

  .hero-social .btn span {
    display: none;
  }

  .footer .col-12 {
    flex-direction: column;
    justify-content: center;
  }

  .contact-infos {
    text-align: center;
  }
}

/* Mobile */

@media (max-width: 768px) {
  .container-fluid {
    max-width: 100%;
    margin: 0 auto;
  }

  .container {
    max-width: 100%;
    margin: 0 auto;
  }
  .nav-title {
    text-align: center;
  }
  .extended-title {
    display: none;
  }

  .flex-list {
    flex-direction: column;
  }

  .flex-list li {
    width: 100%;
  }
  .hero-social .btn {
    padding: 0.4rem 0.8rem;
  }
  .banner {
    display: none;
  }

  .pres-img {
    max-width: 60%;
    float: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}
