/* Tablet */

@media (max-width: 992px) {
  .container-fluid {
    max-width: 100%;
  }

  .container {
    max-width: 100%;
  }

  .card {
    flex-wrap: wrap;
  }
  .card .col-8 {
    width: 100%;
  }
  .card .col-4 {
    width: 100%;
  }
  .hero-social .btn {
    padding: 0.4rem 3rem;
  }

  .hero-social .btn span {
    display: none;
  }
}

/* Mobile */

@media (max-width: 768px) {
  .container-fluid {
    max-width: 100%;
  }
  .nav-title {
    text-align: center;
  }
  .extended-title {
    display: none;
  }
  .hero-social .btn {
    padding: 0.4rem 0.8rem;
  }
  .banner {
    display: none;
  }
}
