/* Tablet */

@media (max-width: 992px) {
  .container-fluid {
    max-width: 100%;
  }
}

/* Mobile */

@media (max-width: 768px) {
  .container-fluid {
    max-width: 100%;
  }
  .nav-title {
    text-align: center;
  }
}
