/* RESET RULES */

html {
  font-family: "Montserrat";
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style: none;
}

/* LAYOUT */

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 4rem;
}

.row {
  display: flex;
}

.col-12 {
  max-width: 100%;
}

/* Navbar */

.nav-title {
  font-family: "Nerko One";
  font-size: 2.5rem;
  margin: 0;
  padding: 1rem 3rem;
  color: #ff9614;
}

/* UTILITIES */

.text-shadow {
  text-shadow: 1px 1px 1px rgb(110, 127, 127);
}
