/* RESET RULES */

html {
  font-family: "Montserrat";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style: none;
}

/* LAYOUT */

body {
  background-color: #f6f5f3;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 4rem;
}

.row {
  display: flex;
  margin: 0;
}

.col-12 {
  width: 100%;
}

.col-8 {
  width: calc(2 * (100% / 3));
  display: flex;
}

.col-4 {
  width: calc(100% / 3);
  display: flex;
  flex-wrap: wrap;
}
/* Navbar */

.navbar {
  background-color: white;
}

.nav-title {
  font-family: "Nerko One";
  font-size: 2.5rem;
  margin: 0;
  padding: 1rem 3rem;
  color: #ff9614;
}

/* Hero */

.hero-section {
  padding-top: 3rem;
}

.hero-main {
  margin-bottom: 3rem;
}

.recipe-category {
  text-transform: uppercase;
  color: var(--grey);
  font-size: 0.75rem;
  margin-bottom: 2rem;
}

.recipe-title {
  color: var(--darkpurple);
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

.card {
  background-color: white;
}

.card img {
  width: 100%;
  /* object-fit: contain;
  object-position: center; */
}

/* Hero-social */

.hero-social {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.hero-social .btn {
  background-color: white;
  padding: 0.4rem 2rem;
  border-radius: 999px;
  box-shadow: 1px 1px 8px var(--grey);
  text-transform: uppercase;
}

.banner {
  max-width: 100%;
}
/* UTILITIES */

.text-shadow {
  text-shadow: 1px 1px 1px var(--grey);
}

/* CUSTOM PROPERTIES */

:root {
  --purple: #7c69a4;
  --darkpurple: #4e3969;
  --lightgrey: #f6f5f3;
  --grey: rgb(188, 188, 188);
}
